{% extends 'base.html.twig' %}

{% block title %}Portfolio de Tarik{% endblock %}

{% block body %}
    <h1 class="titleProject">Mes clients</h1>
        {% for customer in customers %}
            <div class="main">
                <div class="imageProject">
                    <a href="{{ customer.url }}">
                        <img src="{{ asset(customer.imageUrl) }}" alt="{{ customer.name }}"/>
                    </a>
                </div>
                <h2 class="titleProject">{{ customer.name }}</h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}
