<div class="foot">
    <a href="https://www.linkedin.com/in/tarik-el-hantiti">
        <img src="{{ asset('build/images/linked-in-.svg') }}" alt="Linked in"/>
    </a>
    <a href="https://github.com/TarikElha">
        <img src="{{ asset('build/images/logo-github.png') }}" alt="Github"/>
    </a>
</div>
