{% extends "base.html.twig" %}
{% block title %}Portfolio de Tarik{% endblock %}
{% block body %}
    <h1 class="titleProject">Curriculum Vitae</h1>
    <div class="main">
        <embed src="{{ asset('build/images/cv.pdf') }}" type='application/pdf'/>
    </div>
{% endblock %}
