{% extends "base.html.twig" %}
{% block title %}Portfolio{% endblock %}
{% block body %}
    <h1>Bienvenue</h1>
{% endblock %}

{#  assets/images/logo.png was copied to public/build/images/logo.png
    <img src="{{ asset('build/images/logo.png') }}" alt="ACME logo"> #}
